<div class="blue-bg">
	<div class="page-header">KULLANIM KOŞULLARI</div>
</div>

<div class="container">
	<p>Platformun ana ilkeleri soyledir:</p>
	<ul>
		<li>- Tarafsizlik: Ana platform butun olusumlara esit mesafededir.</li>
		<li>- Bagimsizlik: Ana platform olusumlarin iceriklerine, organizasyonuna ve de yonetimine karismayacaktir.</li>
		<li>- Demokratik Yapi: Temel ilkelere uyan, gercekligi kanitlanmis her olusum ana platforma katilabilir. </li>
	</ul>
	<p></p>
	<p>Temel Ilkeler: Platform uyeligi icin gerekli kosullar sunlardir:</p>
	<ul>
		<li>- Insan haklari, baris, ozgurluk, adalet, ve demokrasi gibi evrensel degerleri benimseyen her turlu olusuma acigiz. </li>
		<li>- Cinsiyetci, irkci, ayrimci, siddeti bir yontem olarak benimseyen ve demokrasi disi yollari destekleyen olusumlara kapaliyiz.</li>
	</ul>
	<p></p>
	<p>Temel ilkelerin ihlali platformdan ihrac edilme sebebi sayilacaktir. </p>
</div>