<div class="blue-bg">
	<div class="page-header">HAKKIMIZDA</div>
</div>

<div class="container">
	<p>Türkiyede demokrasi ve özgürlüklerin gelişimi için çalışan oluşumların koordinasyonunu ve  iletişimini sağlayan ana bir platform kurulmasına ihtiyac vardir. Sonraki Adim platformu bu boslugu doldurmak uzere ortaya cikmis Guc Birligi tarafindan desteklenen bir sivil toplum projesidir.</p>

	<p>Platformun temel amaçları şunlardır:</p>
	<ul>
	<li>- Oluşumlararası iletişim ve paylaşımın sağlanması,</li>
	<li>- Bireylere bilgi ulaşımının kolaylaştırılması,</li>
	<li>- Güvenli merkezi veritabanı sisteminin oluşturulması,</li>
	<li>- Üye-/Alt-Platformların ihtiyaçlarını karşılayacak gereksinim giderim sistemi kurulması:
		<ul class="indented">
			<li>Teknik altyapı desteği,</li>
			<li>Eğitimsel destek,</li>
			<li>Yasal destek,</li>
			<li>Maddi destek,</li>
			<li>Insan kaynağı sağlanımı.</li>
		</ul>
	</li>
	<p></p>
	<p>Sonraki Adim platformu, sivil topluma katilmak isteyen bireyler ve bu alanda hizmet veren olusumlar arasinda bir kopru vazifesi gorur.</p>

	<p>Projelere saglanacak destek bireysel olabilecegi gibi, olusumlararasi da olabilir.</p>

	<p>Guc Birligi dernegi tarafindan desteklenen platformdan, GBnin proje kriterlerine uygun olanlari ayrica GB fonlarindan da faydalanabilecektir. Bu konudaki detayli bilgiye <a href="http://www.gucbirligi.com">www.gucbirligi.com</a> sayfasindan ulasilabilir.</p>
</div>