/* NORMALIZE */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display: block;}
audio, canvas, video{display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]){display: none;}
html{font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height:100%}
a, a:hover, a:active, a:focus, a:selected{outline:none; border:none;}
a{ text-decoration: none; color: @grey; }
a:hover{ color: #111; }
:-moz-any-link:focus{outline: none;}
sub, sup{position: relative; font-size: 75%; line-height: 0; vertical-align: baseline;}
sup{top: -0.5em}
sub{bottom: -0.25em}
img{max-width: 100%; height: auto; border: 0; -ms-interpolation-mode: bicubic;}
button, input, select, textarea, .button{margin: 0; font-size: 100%; vertical-align: middle; .border-box; .fBody; }
button, input{*overflow: visible; line-height: normal;}
button::-moz-focus-inner, input::-moz-focus-inner{padding: 0;border: 0;}
button, input[type="button"], input[type="reset"], input[type="submit"]{cursor: pointer; -webkit-appearance: button;}
button, .button{ line-height: 1em; border: 0; outline: 0; color: #FFF; padding: 13px 16px 10px; font-size: 14/16em; .fTitle; .transition(all, .15s, linear); .border-box; text-align: center; background: @blue; cursor: pointer;
  &.with-icon{ text-align: left }
  &.disabled{ background: #bcd !important }
  &.disabled:hover{ background: #333 !important }
  &:hover{ background: darken(@blue, 10%); text-decoration: none }
  &.signup{ background: @green }
  &.signup:hover{ background: darken(@green, 10%) }
  span{ float: right; font-size: 21/14em; margin-top: -4px; }
  &.large{ font-size: 16/16em }
  &.secondary{ background: #d8d8d8 }
  &.secondary:hover{ background: #666 }

}
input[type="search"]{-webkit-appearance: textfield; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button{-webkit-appearance: none}
textarea {overflow: auto; vertical-align: top}
ul{list-style:none; padding:0; margin:0;}
p{margin:0 0 1em}
input[type="text"], input[type="email"], input[type="password"], textarea{ border: 1px solid #d8d8d8; .transition(all, .15s, linear); padding: 10px; background: #fdfafa; color: #333; font-size: 14/16em }
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus{outline:0;  background: #FFF }

/* NON-SEMANTIC */
.clearfix:before, .clearfix:after{content: ""; display: table}
.clearfix:after{clear: both}
.clearfix{zoom: 1}
.invisible{display: none}
.loading{background:url('@{baseUrl}/loading.gif') no-repeat scroll 50% 100px; min-height:200px;}

.in-bl(@valign: middle){vertical-align:@valign; display:-moz-inline-stack; display:inline-block;  zoom:1; *display: inline}
.opacity(@val){opacity:@val/100; filter:alpha(opacity=@val)}
.text-shadow(@left, @top, @distance, @color){-moz-text-shadow:@left @top @distance @color;-webkit-text-shadow:@left @top @distance @color;text-shadow:@left @top @distance @color;}
.box-shadow(@left, @top, @distance, @color){-moz-box-shadow:@left @top @distance @color;-webkit-box-shadow:@left @top @distance @color;box-shadow:@left @top @distance @color;behavior: url('{@baseUrl}/pie.htc');}
.box-shadow-inset(@left, @top, @distance, @color){-moz-box-shadow:inset @left @top @distance @color;-webkit-box-shadow:inset @left @top @distance @color;box-shadow:inset @left @top @distance @color;behavior: url('{@baseUrl}/pie.htc');}
.round(@radius){-webkit-border-radius:@radius; -moz-border-radius:@radius; border-radius:@radius;behavior: url('{@baseUrl}/pie.htc');}
.transition(@property, @duration, @easing) {-webkit-transition:@property @duration @easing; -moz-transition:@property @duration @easing; -o-transition:@property @duration @easing; transition:@property @duration @easing}
.rotate(@deg){-moz-transform: rotate(@deg);  -webkit-transform: rotate(@deg);}
.scale(@ratio){-moz-transform: scale(@ratio);  -webkit-transform: scale(@ratio);}
.animate(@name, @duration, @count, @timing){
-webkit-animation-name:@name; -webkit-animation-duration:@duration; -webkit-animation-iteration-count:@count; -webkit-animation-timing-function: @timing; -moz-animation-name:@name; -moz-animation-duration:@duration; -moz-animation-iteration-count:@count; -moz-animation-timing-function: @timing; animation-name:@name; animation-duration:@duration; animation-iteration-count:@count; animation-timing-function: @timing; -o-animation-name:@name; -o-animation-duration:@duration; -o-animation-iteration-count:@count; -o-animation-timing-function: @timing;}
.border-box{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.multi-col(@n, @gap){-moz-column-count:@n; -webkit-column-count:@n; column-count:@n; -moz-column-gap:@gap; -webkit-column-gap:@gap; column-gap:@gap; margin-top: @gap;}

.ta-center{text-align: center}

/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}