@font-face {
	font-family: 'Didot';
	src: url('/templates/css/fonts/didot.eot');
	src: local('☺'), url('/templates/css/fonts/didot.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}