@import "common";
@import "fonts";
@import "vars";

body{ margin: 0px; color: @grey; .fBody; overflow-y: scroll; background: url('@{baseUrl}/wood-texture.png') repeat; height: 100%}

#wrapper{ min-height: 100% }
.container{ width: 1140px; margin-left: auto; margin-right: auto; padding-left: 2%; padding-right: 2%; }
#content-body{ padding-bottom: 120px }
#main-overlay{ position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(255,255,255,.5); z-index: 10; display: none}

.green-bg{ background: @green }
.green{ color: @green }
.blue-bg{ background: @blue; }
.blue{ color: @blue; }
.red-bg{ background: @red; }
.red{ color: @red; }
.multi-col{ .multi-col(2, 40px); }

.h1{ .fBody; font-size: 34/16em; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #d8d8d8}
.h2, .h3{ .fThin; font-size: 32/16em; margin-bottom: 20px;
	.link{ float: right; font-size: 16/32em; text-decoration: none; padding: 11px 6px 0 0;
		&:hover{ color: #111; }
		span:before{ font-size: .9em; }
	}
	&.green .link span:before{ color: @green }
	&.blue .link span:before{ color: @blue }
	&.red .link span:before{ color: @red }
}
.h3{ font-size: 20/16em; }

#divider{ border: 0; height: 2px; margin-bottom: 20px; }
.indented{ margin-left: 40px; }

#top-bar-wrapper{ background: #000;
	#top-bar{ padding: 14px 0; .container; overflow: hidden; font-size: 13/16em;
		a{ color: #ddd;	}
		a:hover{ color: #FFF; }
		.links{ float: left;
			li{ .in-bl; margin-right: 14px }
		}
	}
	.social{ float: right;
		.label{ margin-right: 12px; .in-bl; }
		ul{ .in-bl; }
		li{ .in-bl;
			a{ margin-left: 10px; font-size: 15px }
			a:hover{ text-decoration: none; }
		}
	}
}


[data-logged-in="1"]{
	#header{
		.main-nav { width: 1140-203-70-105px; }
	}
}
#header{ padding: 40px 0; .container; .fBody;
	.logo{ width: 203px; height: 42px; .in-bl; }
	.main-nav{ margin: 0 35px; border-bottom: 1px solid #000; .in-bl; width: 1140-203-70-305px; text-align: center; font-size: 14/16em;
		li{ .in-bl; width: 25%; padding: 7px 0 16px; }
		a{ color: #484848; display2: block; width2: 100%; padding: 0 0 14px;
			&.selected, &:hover{ border-bottom: 5px solid #1e61b2; text-decoration: none; }
			&.selected{ font-weight: 700 }
			&[data-page="projeler"].selected, &[data-page="projeler"]:hover{ border-color: @green; color: @green;}
			&[data-page="etkinlikler"].selected, &[data-page="etkinlikler"]:hover{ border-color: @red; color: @red; }
		}
	}
	.buttons#divUser{ .in-bl; width: 305px; position: relative;
		button, .welcome-message{ width: 145px; .in-bl; overflow: hidden;}
		.welcome-message{ font-size: 13/16em; }
		button:first-child{ margin-right: 10px; }
		.signup{ padding: 12px 12px 12px; }
		.signup span{ margin-top: -2px; font-size: 18/14em;}
		#login-box{ border-color: @blue; width: 460px; margin-left: -460/2px; margin-top: -255/2px;
			button.large{ background: @blue; }
			button.large:hover{ background: darken( @blue, 10%) }
			.left{ width: 30% }
			.right{ width: 69% }
		}
		.header-popup{ position: fixed; left: 50%; top: 50%; background: #FFF; border: 4px solid @green; z-index: 10; border-top-width: 10px; width: 560px; padding: 30px; margin-left: -560/2px; margin-top: -437/2px;
			.fields{
				.field{ max-width: 100% }
				button{ text-align: center; background2: @green; width: 158px; }
				button.large{ background: @blue; text-align: center }
				button.large:hover{ background: darken( @blue, 10%) }
				.buttons button + button{ margin-top: 10px;}
				.left{ width: 40% }
				.right{ width: 59% }
			}
		}
	}
	.user-actions{ .in-bl; text-align: right; width: 305px; }
}

#footer-wrapper{ background: #c0392b; color: #FFF; height: 81-25px; padding-top: 25px; font-size: 13/16em; position: relative; top: -81px;
	a{ color: #FFF; }
	#footer{ .container; overflow: hidden; }
	.left{ float: left;
		img{ .in-bl; margin-right: 25px; padding-top: 5px; }
		.links{ .in-bl;
			a{ padding: 0 10px; .in-bl; }
		}
	}
	.right{ float: right;
		.social{ .in-bl; font-size: 32/13em;
			li{ .in-bl;
				a{ margin-left: 8px; }
				a:hover{ text-decoration: none; position: relative; top: -1px; }
			}
		}
		img{ .in-bl; margin-left: 35px; }
	}
}

.page-header{ padding: 25px 0; .container; color: #FFF; .fThin; font-size: 26/16em; margin-bottom: 30px; position: relative;
	.subtitle{ font-size: 14/26em; font-style: italic;
		a{ color: #eee; text-decoration: underline; }
		a:hover{ color: #111; }
	}
	.actions{ position: absolute; right: 0; top: 50%; margin-top: -22px; font-size: 16/26em; width: 280px;
		> li{ float: none; width: 70%; .in-bl(middle);
			&:first-child{ width: 30% }
		}
		button{ width: 90%; padding: 15px;}
		.social{ float: none; font-size: 14/16em; .in-bl(middle); text-align: center;
			li{ margin: 5px 8px 0; float: left; }
			.label{ font-size: 12/14em; }
			a{ color: #FFF }
			a:hover{ color: #333; }
		}
	}
}

.fields{
	.field{ margin-bottom: 20px; overflow: hidden; max-width: 80%;
		.left{ float: left; width: 30%; }
		.right{ float: right; width: 69%; }
		label{ .fThin; padding-top: 2px; }
		select + select { margin-left: 15px }
		.inputtext, textarea{ width: 100%; max-width2: 400px; }
		.checkboxes{
			li{ .in-bl(middle); width: 32%; margin-bottom: 4px; }
			.label{ margin-left: 5px; font-size: 14/16em }
		}
		&.hr{ border-bottom: 1px dotted #d8d8d8; padding: 10px 0 0; margin-bottom: 30px; }
		.requirements{
			input{ margin-right: 10px; }
			input, a{ .in-bl(middle) }
			li{ margin-bottom: 10px;}
			.remove{ color: @red; font-size: 10/12em; }
			.how-many{width: 93px;}
			.what{width: 158px;}
			.description{width: 322px;}
			.add-row{
				a{ color: @blue; font-size: 11/12em }
			}
		}
	}
}

.carousel{ margin-left: -16px;
	& > li{ width: 31.5%; margin-left: 20px; font-size: 14/16em; .box-shadow(0, 2px, 3px, #AAA); .in-bl(top);
		&:hover{ .box-shadow(0, 2px, 3px, #666); }
	}
	& > li > a { display: block; text-align: center;
		&:hover{ background: #fbfbfb; text-decoration: none }
	}
	.image{ height2: 240px; }
	img{ width2: 100%; height2: 240px;  }
	.info{ padding: 20px; line-height: 1.5em; text-align: center; display: block; width: 100%; .border-box; }
	.name{ .fTitle; }
}

.single-listing{

}

.single-organization{
	.section{ padding-bottom: 40px; overflow: hidden; }
	.left{ width: 25%; float: left;
		img{ width: 100%; }
		button{ margin: 16px 0; width: 100% }
		.edit-link{ margin: 10px 0; display: block; text-align: right; text-decoration: none;
			span:before{ margin-left: 5px; font-size: .9em }
		}
		.contact{ font-size: 14/16em;
			li{ margin-bottom: 10px; }
			span:before{ text-align: center; width: 20px; .in-bl; }
			a{ padding-left: 10px; te2xt-decoration: underline; color: @blue; }
		}
	}
	.right{ width: 75%; padding-left: 60px; float: right; .border-box;
		.about{ line-height: 1.8em; margin-bottom: 20px; max-width: 75%; font-size: 14/16em}
		.more{ text-decoration: underline; font-size: 14/16em; }
	}
}

.single-project, .single-event{ overflow: hidden;
	@color: @green;
	.left{ width: 53%; margin-right: 3%; float: left;
		.image{
			img{ width: 100%; margin-bottom: 20px; }
		}
		.description{ margin-bottom: 30px; line-height: 1.7em; font-size: 14/16em; }
	}
	.right{ width: 44%; float: right;
		.section{ padding-bottom: 15px; border-bottom: 1px dotted #d8d8d8; margin-bottom: 15px;
			&:last-child{ border-bottom: 0 }
		}
		.main-info{ font-size: 13/16em; overflow: hidden;
			li{ width: 33%; float: left; }
			label{ margin-bottom: 3px; display: block;  .fThin;}
			.value{ font-size: 16/13em; color: #333 }
		}
		.title{ padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #d8d8d8; .fTitle; color: #454545;
			&.with-button{ padding-top: 5px; }
			button{margin-top: -10px; float: right; }
		}
		.supporters{
			.visual{ .in-bl(top); width: 29%;
				.inner{ width: 60px; height: 60px; padding: 30px; .round(100%); background: @color; border: 2px solid darken(@color, 20%); color: #FFF; text-align: center; font-size: 22/16em;
					p{ margin-top: 6px;}
					p:before{font-size: 18/22em;}
				}
			}
			.avatars{ .in-bl(top); width: 71%;
				li{ .in-bl(top); margin-bottom: 10px; text-align: center; }
				.orgs{ width: 100%;
					li{ width: 50% }
					img{ .round(100%) }
					p{ font-size: 12/16em; margin-top: 3px;}
				}
				.users{ width: 100%; text-align: left;
					li{ border: 1px solid #999; background: #FFF; .round(100%); color: @color; padding: 8px 12px; margin-right: 2%;}
				}
			}
		}
		.requirements{
			li{ margin-bottom: 8px;}
			.quantity{ font-weight: 700; font-size: 14/12em; margin-right: 3px;}
			.requirement{ color: #333 }
			.details{ font-style: italic; font-size: 10/12em; }
		}
		.map{ border-bottom: 0;
			iframe{ border: 1px solid @color; }
			a{ font-size: 12/16em; padding-top: 3px; display: none; }
		}
	}
}

.single-event{
	@color: @red;
	.right{ width: 44%; float: right;
		.supporters{
			.visual{
				.inner{ background: @color; border: 2px solid darken(@color, 20%); }
			}
			.avatars{ .in-bl(top); width: 71%;
				.users{
					li{ color: @color; padding: 8px 12px; }
				}
			}
		}
		.map{
			iframe{ border: 1px solid @color; }
		}
	}
}

.search-box{ position: relative;
	.search-input{ .border-box; width: 100%; padding: 8px 12px 8px; }
	.search-button{ position: absolute; z-index: 1; top: 1px; right: 2px; background: #fdfafa; color: @grey; padding: 0 8px 0 15px; height: 34px; line-height: 34px; bottom: 1px;
		span{ float: none; font-size: 1em; margin-left: 5px; margin-top: 1px; }
		&:hover{ color: #111;
			span{ color: #111; }
		}
	}
}

.search-results{ overflow: hidden;
	.search-box{ margin-bottom: 30px; }
	.filters{ float: left; width: 300px; margin-bottom: 30px;
		.categories{
			li{ margin-bottom: 4px; }
			.selected{ font-weight: 700 }
		}
	}
	.listings{ width: 1140-300-40px; float: right; padding: 2px 0 0;
		.listing{ margin-bottom: 20px; padding: 15px; .box-shadow(1px, 1px, 2px, #d8d8d8); overflow: hidden;
			.left{ float: left; width:160px;
				img{ width: 100%; }
			}
			.right{ float: right; width: 800-160-20-30px; }
			.title{ .fTitle; margin-bottom: 10px; font-size: 18/16em;}
			.desc{ font-size: 14/16em; }
			.categories{ margin-top: 15px; font-size: 14/16em;
				li{ .in-bl; margin-right: 5px; }
			}
			&:last-child{ border-bottom: 0 }
			&:hover{ .box-shadow(1px, 1px, 2px, #999); }
		}
	}
	.carousel{
		li{ width: 30.5%; margin-bottom: 20px; }
	}
}

.fallback{ margin-left: 16px; margin-bottom: 40px; }

// HOME
#intro{ background: url('@{baseUrl}/home.jpg') repeat 0 100%; background-size: 100% 100% ; color: #000; padding: 50px 0; border-top: 1px solid #d8d8d8; border-bottom: 1px solid #ddd;
	.container{ padding2: 40px 2%; background2: rgba(255, 255, 255, 1); .round(2px) }
	.left, .right{ width: 47%; .in-bl(middle); }
	.motto{ .fThin; font-size: 36/16em; margin-bottom: 20px; font-weight: 400; color: #000; .text-shadow(0, 0, 30px, #FFF); }
	.right{ .border-box; line-height: 2em; font-style: 20/16em; background: url('@{baseUrl}/wall-bg.png') no-repeat scroll 50% 50%; padding: 20px 30px; background-size: 100% auto; margin-left: 55px;
		li{ background: url('@{baseUrl}/icon-announce.png') no-repeat 0 50%; padding: 5px 0 5px 30px; }
	}
}

.home-orgs{ color2: #FFF; overflow: hidden; padding: 40px 0 20px;
	.h2{ float: left; width: 20%; color: @blue; }
	.carousel{ width: 80%; float: left; margin-left: 0;
		> li{ width: 22.4%; .box-shadow(0,0,0,#000); margin-bottom: 20px;
			&:hover{ .box-shadow(0,0,0,#000); background: transparent; }
			a{ color2: #FFF;
				&:hover{ text-decoration: underline; background: transparent; }
			}
			img{ height: 143px }
		}
	}
}

.projects-events{ overflow: hidden; padding: 40px;
	.left, .right{ float: left; width: 47%; }
	.right{ float: right; }
	.carousel li{ width: 29.2%; }
}

// -HOME